body {
	background-color:lightgray;
}
a:hover{
	text-decoration: none;
}
.container:after { /*优化container高度*/
	content:""; 
	display: block; 
	clear: both; 
} 
/*导航条*/
.navbar.navbar-fixed-top {
    border-bottom: 1px #222 solid;
}
.navbar .container .navbar-userbar {
    top: 8px;
    right: 32px;
}
.nav ul li.active a {
    color:#04F;
}
.nav>ul>li>a {
    padding: 0 30px;/*导航宽度*/
    outline: none;
    color: #838383;
    text-decoration: none;
    letter-spacing: 5px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.25em;
}
.nav>ul>li>a::before {
    color: #03F;
    content: attr(data-hover);
    position: absolute;
    opacity: 0;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    pointer-events: none;
}
.nav>ul>li>a:hover::before,
.nav>ul>li>a:focus::before {
    opacity: 1;
}

/*panel*/
.index_arc li {
    position: relative;
    height: 600px;
    margin-bottom: 15px;
    padding: 15px 15px 15px 20px;
    list-style: none;
    background-color: #fff;
    border: solid 1px #ddd;
    box-shadow: 0 8px 18px rgba(0,0,0,0.06);
	transition: all .2s ease-out;
}
.index_arc li:hover{
	box-shadow: 0 8px 18px rgba(0,0,0,0.25);
	transition: all .2s ease-out;
	
    border-bottom: 1px solid #5a98de;
}

.index_arc li .title {
    line-height: 26px;
    font-size: 0;
    position: relative;
    margin: 0;
    padding: 0;
}

.index_arc li ,panel{
    width:100%;
    font-size:14px;
}

.index_arc li .panel .left{
    width:45%;
    margin:10px;
    padding:5px;
    float:left;
}

.index_arc li .panel .right{
    width:45%;
    margin:10px;
    padding:5px;
    float:right;
}

.title{
    padding-top:10px;
    font-size:18px;
}